<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder><pattern>%-5level %logger{20} - %msg%n</pattern></encoder>
  </appender>
  <root level="WARN"><appender-ref ref="STDOUT"/></root>
  <logger name="org.testcontainers" level="INFO"/>
  <logger name="org.flywaydb" level="DEBUG"/>
  <logger name="org.springframework.boot.autoconfigure.flyway" level="DEBUG"/>
  <logger name="com.github.dockerjava" level="INFO"/>
</configuration>
